<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <div>
    <h1 class="title-text">
      What's Your Devil Fruit?
    </h1>
    <h3 class="title-subtext">
      Enter your name in the text box and your devil fruit will be revealed to you!
    </h3>
  </div>

  <div>
    <form #fruitForm="ngForm">
      <input [(ngModel)]="fruitInfo.firstname" name="firstname" spellcheck="false" type="text" (keydown)="hideText=true">
      <br>
      <button mat-raised-button color="accent" type="button" (click)="getFruit()">Get My Fruit!</button>
      <br>
      <div class="fruit-info" [hidden]="hideText">
        {{ fruitText }}
      </div>
    </form>
  </div>
</body>
</html>
